body {align-items: center;
  background-color: blue;
  nav-left: 10px;
  nav-right: 10px;
  width: 80%;
  height: 80%;
  margin: 0;
  text-align:center;
  image-resolution: 800px;
  text-align: center;
  
  
}
img { float: center;
max-width: 800px;
position:center;
}
blockquote {
  padding: 6rem;
  background-color: hsl(204, 100%, 15%);
  color: hsl(24, 100%, 85%);}

footer
{
  float: left;
  margin: 0 1.5%;
  width: 25%;
}

